@import '../../../../app.css';

/* Feedback específico */
.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7f6;
  padding: 1rem;
}

.feedback-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 520px;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 78, 146, 0.1);
}

